@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

body {
	position: relative;
	background: #ffffff;
	font-family: 'Lato', sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}
a {
    color: #0da58e;
    text-decoration: none;
}
a:hover,
a:focus {
	color: #075e51;
	text-decoration: underline;
}
a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.text-normal {
	font-size: 16px !important;
	font-weight: 400px !important;
}

button:focus {
    outline: none !important;
}

.btn-primary {
	background: linear-gradient(0deg, #179C99 0%, #18B79C 100%);
	border-color: #18A19A;
	box-shadow: none !important;
}
.btn-primary:hover,
.btn-primary:focus {
	background: linear-gradient(0deg, #179C99 0%, #179C99 100%);
	border-color: #18A19A;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
	background: linear-gradient(0deg, #179C99 0%, #179C99 100%);
	border-color: #18A19A;
}

.btn-light {
	background: #ffffff;
	border-color: #ced4da;
	box-shadow: none !important;
}

.cursor {
	display: inline;
	margin-left: 5px;
	border-right: 2px solid;
	width: 2px;
	height: 87%;
	vertical-align: middle;
	-webkit-animation: pulse 1.5s ease-out;
	-o-animation: pulse 1.5s ease-out;
	animation: pulse 1.5s ease-out;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.docs-link, .blog-link {
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 2px 8px 2px 0px;
    border-radius: 4px;
    font-size: 11px;
    background-color: #ffffff;
}
.docs-link:before, .blog-link:before {
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    content: "Docs";
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    padding: 1px 8px;
    margin-right: 7px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.06);
    color: #444;
}
.blog-link:before {
    content: "Blog";
}

@-moz-keyframes pulse {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes "pulse" {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.navbar {
	padding: 14px 0px;
}
.navbar.navbar-overlap {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
}
.navbar.bg-dark {
	background: transparent !important;
}
.navbar-brand {
	line-height: 20px;
}
.navbar-brand img {
	width: 30px;
}
.navbar-dark .navbar-nav .nav-link {
	color: #ffffff;
	padding: 10px 15px;
}
.navbar-signin {
	list-style: none;
	padding: 0;
	margin: 0;
}
.navbar-signin li {
	display: inline-block;
}
.navbar-signin li a,
.navbar-signin li span.navbar-text {
	padding: 10px;
	color: #ffffff;
}
.navbar-special {
	border-bottom: 1px solid #eee;
}
.navbar-special .navbar-nav .nav-link {
	padding: .5rem .75rem;
	font-size: 14px;
}
.navbar-special .navbar-nav .nav-link.active {
	color: #18a19a;
}
.navbar-special .btn {
	font-size: 14px;
}

footer .pre-footer {
	margin-top: 100px;
	height: 93px;
	background: #333;
	padding: 12px 0px;
}
footer .pre-footer .container {
	position: relative;
}
footer .pre-footer .company-logo {
	position: absolute;
	left: 10px;
	top: -82px;
}
footer .pre-footer img {
	width: 222px;
}

footer .btn {
	width: 222px;
	outline: none;
}
footer .btn span {
	font-size: 22px;
	display: block;
	font-weight: 600;
}
footer .btn span.info {
	font-size: 14px;
	font-weight: 400;
}
footer .btn.btn-primary {
	background-color: #0da58e;
    border-color: #0da58e;
}
footer .btn.btn-primary:hover {
    background-color: #0d917d;
    border-color: #0d917d;
}
footer .links {
	padding: 46px 0px 30px 0px;
	background: #393939;
}
footer .links h5 {
	color: #ffffff;
	font-size: 16px;
	margin-bottom: 15px;
}
footer .links ul li a {
	color: #929292;
	font-size: 16px;
}
footer .social li a {
	width: 40px;
    height: 40px;
    background: rgba(255,255,255,.05);
    display: block;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    font-size: 16px;
    line-height: 38px;
    border: 1px solid rgba(255,255,255,.05);
    margin-bottom: .6rem;
}
footer .social li a:hover {
    background: rgba(255,255,255,.1);
}

footer .copyright {
	padding: 15px 0px;
	background: #242424;
}
footer .copyright p {
	font-size: 14px;
	margin: 0px;
	color: #666;
}
footer .copyright a {
	color: #999;
}

.section {
	padding: 35px 0px;
}
.section.section-gray {
	background: #f5f5f5;
}

.section .section-header {
	margin: 0 auto 30px;
}
.section .section-header h2 {
	font-size: 34px;
    line-height: 55px;
    display: inline-block;
    padding-bottom: 20px;
    margin: 0;
}
.section .section-header p {
	font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #777777;
    margin: 0;
}
.section .section-body h2.title-body {
	padding: 0px;
    margin: 0 auto 20px;
    font-size: 1.75rem;
    line-height: 50px;
    display: inline-block;
}

/* ========= Hero section ========= */
.section.section-hero {
	padding-top: 120px;
	color: #ffffff;
	background: #179A99 url(../img/hero-bg.svg) no-repeat center;
	background-size: cover;
	text-align: center;
}
.section.section-hero h1 {
	font-size: 70px;
}
.section.section-hero .btn-hero {
	display: inline-block;
    margin: 30px auto;
    padding: 12px 20px;
    border-radius: 50px;
    min-width: 320px;
    background: #18A19A;
    color: #ffffff;
    border-color: #18b19b;
	box-shadow: 0px 10px 14px -7px rgba(0,0,0,0.3) !important;
	background-image: linear-gradient(to bottom, #18b09b 5%, #18A19A 100%);
}
.section.section-hero .btn-hero span {
	display: block;
	font-size: 24px;
	font-weight: 600;
}
.section.section-hero .btn-hero span.info {
	font-size: 14px;
	font-weight: 400;
}
.section.section-hero .features-hero {
	font-size: 15px;
	text-align: center;
}
.section.section-hero .features-hero h3 {
	font-size: 24px;
	margin-bottom: 20px;
}
.section.section-hero .features-hero .btn {
	font-size: 14px;
}

/* ========= Features section ========= */
.section.section-features {
	text-align: center;
}
.section.section-features .section-body h3 {
	font-size: 24px;
	margin-bottom: 20px;
}
.section.section-features .section-body p {
	font-size: 14px;
	margin-bottom: 20px;
}

/* ========= Customers section ========= */
.section.section-customers {
	background: #0da58e;
	padding: 60px 0px;
}

/* ========= Technologies section ========= */
.section.section-technologies {
	padding: 40px 0px;
}

/* ========= Quotes section ========= */
.section.section-quotes {
	padding: 40px 0px;
}
.section.section-quotes blockquote {
	background: #f8f8f8;
	padding: 30px;
	border: 1px solid #eee;
	margin: 0px;
}
.section.section-quotes blockquote p {
	font-size: 1.125rem;
}
.section.section-quotes blockquote p:before, .section.section-quotes blockquote p:after {
    color: #ccc;
    content: open-quote;
    font-size: 2em;
    line-height: 0.1em;
    margin-right: 0.15em;
    vertical-align: -0.4em;
}
.section.section-quotes blockquote p:after {
    content: close-quote;
    margin-left: 0.15em;
    margin-right: 0px;
}
.section.section-quotes blockquote .blockquote-footer img {
	width: 50px;
	border-radius: 100px;
	margin: 0px 10px;
}

/* ========= Testimonials section ========= */
.section-testimonials .testimonial-wrapper .item {
    padding-top: 15px
}
.section-testimonials .testimonial-wrapper .item .image-outer {
    display: inline-block;
    border: 5px solid;
    border-color: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,.05);
    border-radius: 50%;
}
.section-testimonials .testimonial-wrapper .item .image-outer img {
    width: 100px;
    height: auto;
    border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    -ms-border-radius: 50% 50% 50% 50%;
    -o-border-radius: 50% 50% 50% 50%
}
.section-testimonials .testimonial-wrapper .item .name {
    margin-top: 15px;
    font-size: 22px;
}
.section-testimonials .testimonial-wrapper .item .text-outer {
	margin-top: 30px;
}
.section-testimonials .testimonial-wrapper .item .text-outer h4 {
	font-size: 20px;
}
.section-testimonials .testimonial-wrapper .item .text-outer p {
	font-size: 14px;
	font-weight: 400;
}
.section-testimonials .owl-dots .owl-dot {
    display: inline-block;
}
.section-testimonials .owl-dots .owl-dot span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #e8e8e8;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    transition: all .4s ease-out;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline: none !important;
}
.section-testimonials .owl-dots .owl-dot.active span {
    background: #0da58e;
    -webkit-box-shadow: 0 5px 40px 0 rgba(0,129,255,.3);
    box-shadow: 0 5px 40px 0 rgba(0,129,255,.3);
}

/* ========= Core section ========= */
.section.section-core {
	text-align: center;
	font-size: 14px;
}
.section.section-core .icon {
	margin-bottom: 20px;
}
.section.section-core .icon svg {
	width: 80px;
	height: 80px;
	overflow: initial;
}
.section.section-core h4 {
	font-size: 20px;
}

/* ========= Tracking section ========= */
.section.section-tracking {
	font-size: 14px;
	border-top: 1px solid #eee;
}
.section.section-tracking .section-header {
    margin: 0 auto 20px;
}
.section.section-tracking .section-header h2 {
	padding: 0px;
	font-size: 1.75rem;
}
.section.section-tracking .section-body h4 {
	font-size: 1.25rem;
}

/* ========= Logging section ========= */
.section.section-logging {
	font-size: 14px;
	border-top: 1px solid #eee;
}
.section.section-logging .section-header {
    margin: 0 auto 20px;
}
.section.section-logging .section-header h2 {
	padding: 0px;
	font-size: 1.75rem;
}
.section.section-logging .section-body h4 {
	font-size: 1.25rem;
}

/* ========= Notifications section ========= */
.section.section-notifications {
	font-size: 14px;
	padding: 70px 0px;
    color: #ffffff;
    background: #179A99 url(../img/hero-bg.svg) no-repeat center;
    background-size: cover;
    overflow: hidden;
    border-bottom: 2px solid #ffffff;
}
.section.section-notifications .notifications svg {
	overflow: initial;
    position: absolute;
    width: 100% !important;
    top: 5px;
    left: 0;
    height: 506px !important;
}
.section.section-notifications .section-body h2 {
	padding: 0px;
	margin: 0 auto 20px;
	font-size: 1.75rem;
	line-height: 50px;
    display: inline-block;
}
.section.section-notifications .section-body h4 {
	font-size: 1.1rem;
}
.section.section-notifications .section-body p {
	margin-bottom: 10px;
}

/* ========= Integrations section ========= */
.section.section-integrations {
	padding: 70px 0;
	font-size: 14px;
	background: #065c85;
	color: #ffffff;
}
.section.section-integrations .section-header {
    margin: 0 auto 20px;
}
.section.section-integrations .section-header h2 {
	padding: 0px;
	font-size: 1.75rem;
}
.section.section-integrations .section-body h4 {
	font-size: 1.25rem;
}
.section.section-integrations .section-body .integrations svg {
    max-width: 800px;
    width: 100%;
    height: 100%;
}

/* ========= Quickfixes section ========= */
.section.section-quickfixes {
	font-size: 14px;
}
.section.section-quickfixes .section-header {
    margin: 0 auto 20px;
}
.section.section-quickfixes .section-header h2 {
	padding: 0px;
	font-size: 1.75rem;
}
.section.section-quickfixes .section-body h4 {
	font-size: 1.25rem;
}

/* ========= Usertracking section ========= */
.section.section-usertracking {
	font-size: 14px;
	border-top: 1px solid #eee;
}
.section.section-usertracking .section-header {
    margin: 0 auto 20px;
}
.section.section-usertracking .section-header h2 {
	padding: 0px;
	font-size: 1.75rem;
}
.section.section-usertracking .section-body h4 {
	font-size: 1.25rem;
}

/* ========= Deployment tracking section ========= */
.section.section-deploymenttracking {
	font-size: 14px;
	text-align: center;
	padding: 70px 0px;
    color: #ffffff;
    background: #179A99 url(../img/hero-bg.svg) no-repeat center;
    background-size: cover;
    border-bottom: 2px solid #ffffff;
}
.section.section-deploymenttracking .section-header {
    margin: 0 auto 20px;
    text-align: left;
}
.section.section-deploymenttracking .section-header h2 {
	padding: 0px;
	font-size: 1.75rem;
}
.section.section-deploymenttracking .section-body h4 {
	font-size: 1.25rem;
	margin-bottom: 10px;
}
.section.section-deploymenttracking .icon {
	margin-bottom: 20px;
	text-align: center;
}
.section.section-deploymenttracking .icon svg {
	width: 80px;
	height: 80px;
	overflow: initial;
}

/* ========= Uptime monitoring section ========= */
.section.section-uptimemonitoring {
	padding: 70px 0;
    font-size: 14px;
    background: #065c85;
    color: #ffffff;
}
.section.section-uptimemonitoring .section-header h2 {
	padding: 0px;
	font-size: 1.75rem;
}
.section.section-uptimemonitoring .section-body h4 {
	font-size: 1.25rem;
}

/* ========= Extra goodies section ========= */
.section.section-extra {
	padding: 70px 0;
    font-size: 14px;
    background: #f5f5f5;
}
.section.section-extra .section-header h2 {
	padding: 0px;
	font-size: 1.75rem;
}
.section.section-extra .section-body h4 {
	font-size: 1.25rem;
}

/* ========= FAQ section ========= */
.section.section-faq {
    font-size: 14px;
}
.section.section-faq .section-header h2 {
	padding: 0px;
	font-size: 1.75rem;
}
.section.section-faq .section-body h4 {
	font-size: 1.25rem;
}

/* ========= Startups section ========= */
.section.section-startups {
    font-size: 14px;
    border-top: 1px solid #eee;
}
.section.section-startups .section-header h2 {
	padding: 0px;
	font-size: 1.75rem;
}
.section.section-startups .section-body h4 {
	font-size: 1.25rem;
}
.section.section-startups .section-body .btn {
	font-size: 14px;
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

/* ========= Modal SignIn ========= */
.signinbuttons i {
	width: 16px;
	height: 16px;
	margin-right: 20px;
	vertical-align: middle;
}
.signinbuttons a {
	padding: 20px;
	display: block;
	color: #fff;
	font-weight: 500;
	line-height: 16px;
	margin-bottom: 15px;
	border-radius: 3px;
}
.signinbuttons a:hover {
	text-decoration: none;
	opacity: .8;
}
.signinbuttons a.twitter {
	background-color: #23B0E6;
}
.signinbuttons a.facebook {
	background-color: #48629B;
}
.signinbuttons a.google {
	background-color: #c11e10;
}
.signinbuttons a.live {
	background-color: #5d9417;
}
.signinbuttons a:last-child {
	margin-bottom: 0;
}
.signinbuttons .delimiter {
	width: 100%;
	height: 13px;
	border-bottom:
	1px solid #CCCCCC;
	text-align: center;
}
.signinbuttons .delimiter span {
	font-size: 18px;
	line-height: 18px;
	background-color: white;
	padding: 0 10px;
	color: #CCCCCC;
}

/* ========= Plan section ========= */
.section.section-plan {
	padding: 40px 0px;
}
.section.section-plan a:not([href]):not([tabindex]) {
	color: #0da58e;
	cursor: pointer;
}
.list-prices {
	border-radius: 6px;
	position: relative;
	margin-bottom: 22px;
}
.list-prices li {
	padding: 10px;
	min-height: 45px;
	text-align: center;
}
.list-prices li:not(.header) {
	border: 1px solid #ddd;
	border-width: 0 1px 1px 1px;
	background-color: #f5f5f5;
}
.list-prices.most-popular {
	box-shadow: 0 0 0 4px white, 0 0 0px 8px #0da58e;
}
.list-prices:hover,
.list-prices.popular {
	box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2), 0 5px 20px rgba(0, 0, 0, 0.15);
	margin-top: -10px;
	margin-bottom: 0;
	margin-left: -1%;
	width: 101%;
	z-index: 10;
}
.list-prices:hover li,
.list-prices.popular li {
	padding: 11px;
}
.list-prices li.header {
	font-size: 28px;
	font-weight: 400;
	background-color: #0da58e;
	color: #fff;
}
.list-prices li.price {
	font-size: 80px;
	font-weight: 400;
	border-bottom: 0;
}
.list-prices li.price sup {
	font-size: 50%;
	font-weight: 100;
	vertical-align: super;
	top: 0px;
}
.list-prices li.price:after {
	content: "per month";
	color: #777777;
	font-weight: normal;
	font-size: 14px;
	display: block;
}
.list-prices li.action {
	padding-bottom: 40px;
}
.list-prices li.action .btn {
	background-color: #0da58e;
	border: 0;
	color: white;
}
.price-col:first-child li.header {
	border-top-left-radius: 4px;
}
.price-col:first-child li.action {
	border-bottom-left-radius: 4px;
}
.price-col:last-child li.header {
	border-top-right-radius: 4px;
}
.price-col:last-child li.action {
	border-bottom-right-radius: 4px;
}
.price-col:not(:first-child):not(:last-child) {
	padding-left: 0;
	padding-right: 0;
}
@media (min-width: 992px) {
	.price-col {
		width: 20%;
	}
}
.list-prices-smallbusiness.most-popular {
	box-shadow: 0 0 0 4px white, 0 0 0 8px #0b8d8b;
}
.list-prices-smallbusiness li.header {
	background-color: #0b8d8b;
}
.list-prices-smallbusiness li.action .btn {
	background-color: #0b8d8b;
	color: white;
}
.list-prices-business.most-popular {
	box-shadow: 0 0 0 4px white, 0 0 0 8px #087588;
}
.list-prices-business li.header {
	background-color: #087588;
}
.list-prices-business li.action .btn {
	background-color: #087588;
	color: white;
}
.list-prices-businessplus.most-popular {
	box-shadow: 0 0 0 4px white, 0 0 0 8px #065c85;
}
.list-prices-businessplus li.header {
	background-color: #065c85;
}
.list-prices-businessplus li.action .btn {
	background-color: #065c85;
	color: white;
}
.list-prices-enterprise.most-popular {
	box-shadow: 0 0 0 4px white, 0 0 0 8px #034482;
}
.list-prices-enterprise li.header {
	background-color: #034482;
}
.list-prices-enterprise li.action .btn {
	background-color: #034482;
	color: white;
}

@media (max-width: 1199px) {
	.section.section-notifications .notifications svg {
		top: -5px;
	}
	.section.section-startups .section-body p br {
		display: none;
	}
}

@media (max-width: 991px) {
	.navbar-expand-md>.container, .navbar-expand-md>.container-fluid {
	    padding-right: 15px;
	    padding-left: 15px;
	}
	.navbar-special {
		display: none;
	}
	.section.section-notifications .notifications svg {
		top: 0px;
		height: 380px !important;
	}
	.card-columns {
		column-count: 2;
	}
	.list-prices {
		font-size: 14px;
	}
	.list-prices li.price {
		font-size: 60px;
	}
}

@media screen and (max-width: 767px) {
	.navbar-signin {
		padding: 5px;
	}
	.navbar-signin li.hidden-xs {
		display: none;
	}
	.container {
		max-width: 100%;
	}
	.navbar .navbar-collapse {
		background: #17A79A;
		margin: 15px -15px -15px -15px;
	}
	.card-columns {
		column-count: 1;
	}
	.section.section-startups .section-body .btn {
		display: inline-block;
	}
	.list-prices:hover,
	.list-prices.popular {
		box-shadow: none;
		margin-top: 0;
		margin-bottom: 22px;
		margin-left: 0;
		width: 100%;
		z-index: 10;
	}
	.list-prices:hover li,
	.list-prices.popular li {
		padding: 10px;
	}
	.list-prices li.action {
		padding-bottom: 40px;
	}
	.price-col li.header {
	    border-top-left-radius: 4px;
	    border-top-right-radius: 4px;
	}
	.list-prices li:empty {
		display: none;
	}
	.list-prices-enterprise ul {
		margin-bottom: 0px !important;
	}
}

@media screen and (max-width: 576px) {
	.section.section-notifications .notifications {
		display: none;
	}
	footer .pre-footer {
	    margin-top: 0px;
	    height: auto;
	    padding: 0px 0px 15px 0px;
	    text-align: center;
	}
	footer .pre-footer .company-logo {
	    position: relative;
	    left: initial;
	    top: initial;
	}
	footer .pre-footer .company-logo img {
		width: 150px;
		margin-bottom: 15px;
	}
	footer .pre-footer .btn.float-right {
		float: none!important;
		width: 100%;
		max-width: 320px;
	}
}
